<!-- app/views/home/index.html.erb -->



        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-white font-weight-bold">SheetMusicShare</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white font-weight-light mb-5">Share and Find the Sheet Music and Scores for Your Jazz Ensembles</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Get Those Sheets!</a>
                    </div>
                </div>
            </div>
        </header>

         <section class="features-icons bg-light text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="icon-screen-desktop m-auto text-primary"></i>
                  </div>
                  <h3>Beginner Plan</h3>
                  <h4>$0</h4>
                  <p class="lead mb-0">Upload and share two ensemble pieces per month.  No limit on uploads. Get free lessons and advices from the professionals for online or in-person lessons.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="icon-layers m-auto text-primary"></i>
                  </div>
                  <h3>Amateur Plan</h3>
                  <h4>$9.99/mo</h4>
                  <p class="lead mb-0">Create library of your charts and access to 5 charts by professional musicians.</p>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="icon-check m-auto text-primary"></i>
                  </div>
                  <h3>Professional Plan</h3>
                  <h4>$100.00/yr</h4>
                  <p class="lead mb-0">Share the chart with distributors such as ejazzlines.com, kendor.com</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Image Showcases -->
        <section class="showcase">
          <div class="container-fluid p-0">
            <div class="row no-gutters">

              <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://res.cloudinary.com/rfujiwar23/image/upload/v1553189543/blur-close-up-desk-433604.jpg');"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Fully Responsive Design</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://res.cloudinary.com/rfujiwar23/image/upload/v1553189543/blur-close-up-desk-433604.jpg');"></div>
              <div class="col-lg-6 my-auto showcase-text">
                <h2>Updated For Bootstrap 4</h2>
                <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://res.cloudinary.com/rfujiwar23/image/upload/v1553189543/blur-close-up-desk-433604.jpg');"></div>
              <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Easy to Use &amp; Customize</h2>
                <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
              </div>
            </div>
          </div>
        </section>





        <section>
          <div class="container">
            <h1>Contact Us</h1>
              <div id="contact">
                <%= render 'contact_form' %>
              </div>
          </div>
        </section>


